.box {
  display: block;
  margin: 0 auto;
  width:200px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  background-color: #e6f0f0;
}

.box input{
  border: 2px hidden black;
  margin: 6px;
  padding:5px;
  text-align: center;
  
}

.box button{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top:25px;
  padding: 6px 15px 6px 15px;
  font-size: 14px;
  /*font-weight: bold;*/
  background-color: black;
  color: white;
  border-style: hidden;
  border-radius: 3px;
}

body {
  font-family: helvetica, sans-serif;
  margin: 9%;
  text-align:center;
  color:black;
}

h1 {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
  font-size: 30px;
  color: black;
}

h2{
  text-align: center;
  font-family: Helvetica, Sans-Serif;
  font-size: 24px;
  padding:0px;
  margin:0px 0px 20px 0px;
  color: black;
}
